QLCC.Web/package-lock.json
TestProject/bin/Debug/net6.0/InternalTrace.95888.log
TestProject/bin/Debug/net6.0/nunit_random_seed.tmp
TestProject/obj/Debug/net6.0/TestProject.csproj.AssemblyReference.cache
/.vs
/QLCC/.vs
/QLCC/bin/Debug/net6.0
/QLCC/obj/Debug/net6.0
/QLCC/obj
/bin
/obj
/bin/*
/obj/*

/Common/obj/*
/QLCC.Data/obj/*
/QLCC.Services/obj/*
/QLCC.WebApi/obj/*
/Repository/obj/*
/Service/obj/*

Common/obj/Debug/net7.0/*
QLCC.Data/obj/Debug/net7.0/*
QLCC.Services/obj/Debug/net7.0/*
QLCC.WebApi/obj/Debug/net7.0/*
Repository/obj/Debug/net7.0/*
Service/obj/Debug/net7.0/*

/UnitOfWork/bin/Debug/net7.0
*/bin/*


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
Common/obj/Debug/net7.0/Common.assets.cache
Common/obj/Debug/net7.0/Common.csproj.AssemblyReference.cache
Common/obj/Debug/net7.0/Common.GeneratedMSBuildEditorConfig.editorconfig
QLCC.Data/obj/Debug/net7.0/QLCC.Data.assets.cache
QLCC.Data/obj/Debug/net7.0/QLCC.Data.csproj.AssemblyReference.cache
QLCC.Data/obj/Debug/net7.0/QLCC.Data.GeneratedMSBuildEditorConfig.editorconfig
QLCC.Services/obj/Debug/net7.0/QLCC.Services.assets.cache
QLCC.Services/obj/Debug/net7.0/QLCC.Services.csproj.AssemblyReference.cache
QLCC.Services/obj/Debug/net7.0/QLCC.Services.GeneratedMSBuildEditorConfig.editorconfig
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.assets.cache
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.csproj.AssemblyReference.cache
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.GeneratedMSBuildEditorConfig.editorconfig
Repository/obj/Debug/net7.0/Repository.assets.cache
Repository/obj/Debug/net7.0/Repository.csproj.AssemblyReference.cache
Repository/obj/Debug/net7.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
Service/obj/Debug/net7.0/Service.assets.cache
Service/obj/Debug/net7.0/Service.csproj.AssemblyReference.cache
Service/obj/Debug/net7.0/Service.GeneratedMSBuildEditorConfig.editorconfig
TestProject/obj/Debug/net6.0/TestProject.assets.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.assets.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.csproj.AssemblyReference.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.GeneratedMSBuildEditorConfig.editorconfig
Common/obj/Debug/net7.0/Common.assets.cache
Common/obj/Debug/net7.0/Common.csproj.AssemblyReference.cache
Common/obj/Debug/net7.0/Common.GeneratedMSBuildEditorConfig.editorconfig
QLCC.Data/obj/Debug/net7.0/QLCC.Data.assets.cache
QLCC.Data/obj/Debug/net7.0/QLCC.Data.csproj.AssemblyReference.cache
QLCC.Data/obj/Debug/net7.0/QLCC.Data.GeneratedMSBuildEditorConfig.editorconfig
QLCC.Services/obj/Debug/net7.0/QLCC.Services.assets.cache
QLCC.Services/obj/Debug/net7.0/QLCC.Services.csproj.AssemblyReference.cache
QLCC.Services/obj/Debug/net7.0/QLCC.Services.GeneratedMSBuildEditorConfig.editorconfig
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.assets.cache
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.csproj.AssemblyReference.cache
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.GeneratedMSBuildEditorConfig.editorconfig
Repository/obj/Debug/net7.0/Repository.assets.cache
Repository/obj/Debug/net7.0/Repository.csproj.AssemblyReference.cache
Repository/obj/Debug/net7.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
Service/obj/Debug/net7.0/Service.assets.cache
Service/obj/Debug/net7.0/Service.csproj.AssemblyReference.cache
Service/obj/Debug/net7.0/Service.GeneratedMSBuildEditorConfig.editorconfig
TestProject/obj/Debug/net6.0/TestProject.assets.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.assets.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.csproj.AssemblyReference.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.GeneratedMSBuildEditorConfig.editorconfig
Common/obj/Debug/net7.0/Common.assets.cache
Common/obj/Debug/net7.0/Common.csproj.AssemblyReference.cache
Common/obj/Debug/net7.0/Common.GeneratedMSBuildEditorConfig.editorconfig
QLCC.Data/obj/Debug/net7.0/QLCC.Data.assets.cache
QLCC.Data/obj/Debug/net7.0/QLCC.Data.csproj.AssemblyReference.cache
QLCC.Data/obj/Debug/net7.0/QLCC.Data.GeneratedMSBuildEditorConfig.editorconfig
QLCC.Services/obj/Debug/net7.0/QLCC.Services.assets.cache
QLCC.Services/obj/Debug/net7.0/QLCC.Services.csproj.AssemblyReference.cache
QLCC.Services/obj/Debug/net7.0/QLCC.Services.GeneratedMSBuildEditorConfig.editorconfig
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.assets.cache
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.csproj.AssemblyReference.cache
QLCC.WebApi/obj/Debug/net7.0/QLCC.WebApi.GeneratedMSBuildEditorConfig.editorconfig
Repository/obj/Debug/net7.0/Repository.assets.cache
Repository/obj/Debug/net7.0/Repository.csproj.AssemblyReference.cache
Repository/obj/Debug/net7.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
Service/obj/Debug/net7.0/Service.assets.cache
Service/obj/Debug/net7.0/Service.csproj.AssemblyReference.cache
Service/obj/Debug/net7.0/Service.GeneratedMSBuildEditorConfig.editorconfig
TestProject/obj/Debug/net6.0/TestProject.assets.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.assets.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.csproj.AssemblyReference.cache
UnitOfWork/obj/Debug/net7.0/UnitOfWork.GeneratedMSBuildEditorConfig.editorconfig
