USE [master]
GO
/****** Object:  Database [QuanLyChamCong]    Script Date: 3/31/2023 4:00:43 PM ******/
CREATE DATABASE [QuanLyChamCong]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyChamCong', FILENAME = N'C:\Datatbase\QuanLyChamCong.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyChamCong_log', FILENAME = N'C:\Datatbase\QuanLyChamCong_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyChamCong].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyChamCong]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 3/31/2023 4:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienId] [int] NULL,
	[NgayChamCongId] [int] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LichSuChamCong]    Script Date: 3/31/2023 4:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuChamCong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienId] [int] NOT NULL,
	[NgayChamCong] [date] NOT NULL,
	[ThoiGianChamCong] [decimal](18, 0) NULL,
 CONSTRAINT [PK_LichSuChamCong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NgayChamCong]    Script Date: 3/31/2023 4:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgayChamCong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThoiGianChamCong] [datetime] NULL,
	[ThoiGianRaVe] [datetime] NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_NgayChamCong] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NghiPhep]    Script Date: 3/31/2023 4:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghiPhep](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NhanVienId] [int] NOT NULL,
	[LyDo] [nvarchar](50) NOT NULL,
	[NguoiPheDuyetId] [int] NOT NULL,
	[ThoiGianTao] [datetime] NOT NULL,
	[TaoChoNgay] [date] NOT NULL,
	[LoaiNghi] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[HinhThucNghi] [int] NOT NULL,
 CONSTRAINT [PK_NghiPhep] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 3/31/2023 4:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SinhNhat] [date] NULL,
	[HeSoLuong] [float] NULL,
	[NgayNghiPhep] [int] NULL,
	[SoNgayDaNghi] [int] NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[LuongCoBan] [decimal](18, 0) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien_Quyen]    Script Date: 3/31/2023 4:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien_Quyen](
	[NhanVienId] [int] NOT NULL,
	[QuyenId] [int] NOT NULL,
 CONSTRAINT [PK_NhanVien_Quyen] PRIMARY KEY CLUSTERED 
(
	[NhanVienId] ASC,
	[QuyenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 3/31/2023 4:00:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([Id], [NhanVienId], [NgayChamCongId]) VALUES (1, 1, 19)
INSERT [dbo].[ChamCong] ([Id], [NhanVienId], [NgayChamCongId]) VALUES (2, 1, 20)
INSERT [dbo].[ChamCong] ([Id], [NhanVienId], [NgayChamCongId]) VALUES (3, 1, 21)
GO
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
SET IDENTITY_INSERT [dbo].[LichSuChamCong] ON 

INSERT [dbo].[LichSuChamCong] ([Id], [NhanVienId], [NgayChamCong], [ThoiGianChamCong]) VALUES (1, 1, CAST(N'2023-01-01' AS Date), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[LichSuChamCong] ([Id], [NhanVienId], [NgayChamCong], [ThoiGianChamCong]) VALUES (2, 1, CAST(N'2023-01-02' AS Date), CAST(0 AS Decimal(18, 0)))
INSERT [dbo].[LichSuChamCong] ([Id], [NhanVienId], [NgayChamCong], [ThoiGianChamCong]) VALUES (3, 1, CAST(N'2023-01-03' AS Date), CAST(0 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[LichSuChamCong] OFF
SET IDENTITY_INSERT [dbo].[NgayChamCong] ON 

INSERT [dbo].[NgayChamCong] ([Id], [ThoiGianChamCong], [ThoiGianRaVe], [Ten], [Date]) VALUES (19, CAST(N'2023-01-01 00:00:00.000' AS DateTime), CAST(N'2023-01-01 00:00:00.000' AS DateTime), N'01-01-2023', CAST(N'2023-01-01' AS Date))
INSERT [dbo].[NgayChamCong] ([Id], [ThoiGianChamCong], [ThoiGianRaVe], [Ten], [Date]) VALUES (20, CAST(N'2023-01-02 00:00:00.000' AS DateTime), CAST(N'2023-01-02 00:00:00.000' AS DateTime), N'02-01-2023', CAST(N'2023-01-02' AS Date))
INSERT [dbo].[NgayChamCong] ([Id], [ThoiGianChamCong], [ThoiGianRaVe], [Ten], [Date]) VALUES (21, CAST(N'2023-01-03 00:00:00.000' AS DateTime), CAST(N'2023-01-03 00:00:00.000' AS DateTime), N'03-01-2023', CAST(N'2023-01-03' AS Date))
GO
SET IDENTITY_INSERT [dbo].[NgayChamCong] OFF
SET IDENTITY_INSERT [dbo].[NghiPhep] ON 

INSERT [dbo].[NghiPhep] ([Id], [NhanVienId], [LyDo], [NguoiPheDuyetId], [ThoiGianTao], [TaoChoNgay], [LoaiNghi], [TrangThai], [HinhThucNghi]) VALUES (9, 1, N'gfg', 1, CAST(N'2023-03-30 10:31:46.383' AS DateTime), CAST(N'2023-03-30' AS Date), 3, 2, 1)
INSERT [dbo].[NghiPhep] ([Id], [NhanVienId], [LyDo], [NguoiPheDuyetId], [ThoiGianTao], [TaoChoNgay], [LoaiNghi], [TrangThai], [HinhThucNghi]) VALUES (1009, 1, N'hjh', 1, CAST(N'2023-03-31 10:56:28.513' AS DateTime), CAST(N'2023-03-28' AS Date), 2, 2, 1)
INSERT [dbo].[NghiPhep] ([Id], [NhanVienId], [LyDo], [NguoiPheDuyetId], [ThoiGianTao], [TaoChoNgay], [LoaiNghi], [TrangThai], [HinhThucNghi]) VALUES (1010, 1, N'hjh', 1, CAST(N'2023-03-31 10:58:23.010' AS DateTime), CAST(N'2023-03-27' AS Date), 2, 2, 1)
SET IDENTITY_INSERT [dbo].[NghiPhep] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([Id], [HoVaTen], [SoDienThoai], [DiaChi], [SinhNhat], [HeSoLuong], [NgayNghiPhep], [SoNgayDaNghi], [TaiKhoan], [MatKhau], [LuongCoBan]) VALUES (1, N'Phan Thành Quyết', N'0949660502', N'Hồng Thuận Nam Định', CAST(N'2023-03-20' AS Date), 2.3, 12, 12, N'admin', N'123', CAST(51000000 AS Decimal(18, 0)))
INSERT [dbo].[NhanVien] ([Id], [HoVaTen], [SoDienThoai], [DiaChi], [SinhNhat], [HeSoLuong], [NgayNghiPhep], [SoNgayDaNghi], [TaiKhoan], [MatKhau], [LuongCoBan]) VALUES (6, N'Quyết', N'0949660403', N'Hà nội', CAST(N'2023-03-21' AS Date), 1, NULL, NULL, NULL, NULL, CAST(610000 AS Decimal(18, 0)))
INSERT [dbo].[NhanVien] ([Id], [HoVaTen], [SoDienThoai], [DiaChi], [SinhNhat], [HeSoLuong], [NgayNghiPhep], [SoNgayDaNghi], [TaiKhoan], [MatKhau], [LuongCoBan]) VALUES (7, N'Quất', NULL, NULL, NULL, 1, NULL, NULL, N'quat', N'123', NULL)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
INSERT [dbo].[NhanVien_Quyen] ([NhanVienId], [QuyenId]) VALUES (1, 2)
INSERT [dbo].[NhanVien_Quyen] ([NhanVienId], [QuyenId]) VALUES (1, 3)
INSERT [dbo].[NhanVien_Quyen] ([NhanVienId], [QuyenId]) VALUES (1, 4)
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (2, N'ADMIN')
INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (3, N'USER')
INSERT [dbo].[Quyen] ([Id], [TenQuyen]) VALUES (4, N'Role')
SET IDENTITY_INSERT [dbo].[Quyen] OFF
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NgayChamCong] FOREIGN KEY([NgayChamCongId])
REFERENCES [dbo].[NgayChamCong] ([Id])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NgayChamCong]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([Id])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[LichSuChamCong]  WITH CHECK ADD  CONSTRAINT [FK_LichSuChamCong_NhanVien] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([Id])
GO
ALTER TABLE [dbo].[LichSuChamCong] CHECK CONSTRAINT [FK_LichSuChamCong_NhanVien]
GO
ALTER TABLE [dbo].[NghiPhep]  WITH CHECK ADD  CONSTRAINT [FK_NghiPhep_NhanVien] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([Id])
GO
ALTER TABLE [dbo].[NghiPhep] CHECK CONSTRAINT [FK_NghiPhep_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien_Quyen]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Quyen_NhanVien] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([Id])
GO
ALTER TABLE [dbo].[NhanVien_Quyen] CHECK CONSTRAINT [FK_NhanVien_Quyen_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien_Quyen]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Quyen_Quyen] FOREIGN KEY([QuyenId])
REFERENCES [dbo].[Quyen] ([Id])
GO
ALTER TABLE [dbo].[NhanVien_Quyen] CHECK CONSTRAINT [FK_NhanVien_Quyen_Quyen]
GO
USE [master]
GO
